# Google Sheets
GOOGLE_SHEET_ID=YOUR_SHEET_ID_HERE
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./credentials.json

# Braze
BRAZE_BASE_URL=YOUR_BRAZE_DASHBOARD_URL_HERE
BRAZE_TEMPLATE_CAMPAIGN_URL=YOUR_TEMPLATE_CAMPAIGN_URL_HERE
BRAZE_EMAIL=YOUR_EMAIL_HERE
BRAZE_PASSWORD=YOUR_PASSWORD_HERE
BRAZE_TEMPLATE_NAME=[템플릿] 캠페인
